<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" style="overflow-y: hidden">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>数字资产存证平台</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.png}"/>

    <!--&lt;!&ndash; Bootstrap Core CSS &ndash;&gt;
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    &lt;!&ndash; MetisMenu CSS &ndash;&gt;
    <link th:href=" @{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    &lt;!&ndash; Custom CSS &ndash;&gt;
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    &lt;!&ndash; Custom Fonts &ndash;&gt;
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    &lt;!&ndash;引入layui的css&ndash;&gt;
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!--以下是首页的样式-->
    <link th:href="@{/homejc/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/homejc/css/fancybox/jquery.fancybox.css}" rel="stylesheet">
    <link th:href="@{/homejc/css/flexslider.css}" rel="stylesheet"/>
    <link th:href="@{/homejc/css/style.css}" rel="stylesheet"/>

</head>

<body style="overflow-y: hidden;">

    <div id="" class="home-page">
        <div class="topbar">
            <div class="container" style="margin-left: 5px;">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand pull-left" href="#"><img th:src="@{/homejc/img/数字资产.png}" alt="logo"/></a>
                        <!-- <p class="pull-right"><i class="fa fa-phone"></i> Tel: 123-456-789</p>-->
                    </div>
                </div>
            </div>
        </div>
        <header>
            <div class="navbar navbar-default navbar-static-top" style="background-color: #1976d2;">
                <div class="navbar-collapse collapse " style="margin-right:50px;">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home">首页</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">我的资产 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/certList">学生证书列表</a></li>
                                <li><a href="/videoAssetListIndex">视频资产列表</a></li>
                                <li><a href="/musicAssetListIndex">音频资产列表</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">资产申请 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/certificateInsert">文本资产</a></li>
                                <li><a href="/videoForm">视频资产</a></li>
                                <li><a href="/musicForm">音频资产</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <section id="banner">
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img th:src="@{/homejc/img/1.jpg}" alt=""/>
                        <div class="flex-caption">
                            <h3>版权存证 监测 维权</h3>
                            <p>&nbsp;</p>

                        </div>
                    </li>
                    <li>
                        <img th:src="@{/homejc/img/2.jpg}" alt=""/>
                        <div class="flex-caption">
                            <h3>快速申请数字资产</h3>
                            <p>&nbsp;</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <footer style="padding-top: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5 class="widgetheading"style="margin:5px;">联系我们</h5>
                            <ul class="link-list">
                                <li><a href="#"><i class="fa fa-phone"></i> 18875120665</a></li>
                                <li><a href="#"> <i class="glyphicon glyphicon-envelope"></i> 1526152126@163.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5 class="widgetheading" style="margin:5px;">快速连接</h5>
                            <ul class="link-list">
                                <li><a href="#">&nbsp; 最新动态</a></li>
                                <li><a href="#">&nbsp; 区块链科普</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h5 class="widgetheading" style="margin:5px;">Copyright &copy; 2018.免责声明</h5>
                            <ul class="link-list">
                                <li><a href="#">&nbsp; 重庆邮电大学 软件学院</a></li>
                                <li><a href="#">&nbsp; 软件实验室 611</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>

<!--以下是首页js-->
<script th:src="@{/homejc/js/jquery.js}"></script>
<script th:src="@{/homejc/js/bootstrap.min.js}"></script>
<script th:src="@{/homejc/js/jquery.flexslider.js}"></script>
<script th:src="@{/homejc/js/jquery.isotope.min.js}"></script>
<script th:src="@{/homejc/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/homejc/js/animate.js}"></script>
<script th:src="@{/homejc/js/custom.js}"></script>

</body>

</html>
