<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>数字资产存证平台</title>
    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.png}"/>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <style>
        body{
            background: url("../image/login.jpg") no-repeat ;
            background-size: cover;
        }
    </style>

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="login-panel panel panel-default" style="margin-top: 120px;">
                <div class="panel-heading">
                    <h3 class="panel-title">用户登陆</h3>
                </div>
                <div class="panel-body">
                    <form role="form" id="dataform">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail/手机号" name="loginStr"
                                       autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password"
                                       value="">
                            </div>
                            <div class="form-group">
                                <span style="color:red;" id="callbackInfo"></span>
                            </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <a id="btSubmit" class="btn btn-lg btn-success btn-block">登录</a>
                            <div class="form-group" style="margin-top:10px;text-align: right;">
                                <span><a href="/userReg">用户注册</a> </span>
                                <span><a href="/companyReg">企业注册</a> </span>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入layu-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<script>
    $(document).keyup(function (event) {
        if (event.keyCode == 13) {
            $("#btSubmit").click();
        }
    });
    $("#btSubmit").click(function () {
        var queryString = $("#dataform").serialize();
        $.ajax({
            type: "post",
            url: "/user/login",
            data: queryString,
            dataType: "json",
            success: function (result) {
                if (result.code == "400") {
                    $("#callbackInfo").text("帐号或密码不正确");
                } else if (result.code == "200") {
                   /* //判断用户类型
                    if(result.data.userType == "1"){//如果是普通用户
                        window.location.href = "/loginHome";
                    }else if(result.data.userType == "2"){//如果是企业用户
                        window.location.href = "/user/companyUser";
                    }else {
                        $("#callbackInfo").text("未知错误");
                    }*/
                    window.location.href = "/loginHome";

                }
            }
        });
    });


    $("#dataform input").focus(function () {
        $("#callbackInfo").html("");
    });

</script>


</body>

</html>
