<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--企业用户导航栏-->
<nav th:fragment="navigation" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-image: url('/image/navTop.png');background-size: cover;" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home2" style="color:white;">可信数字资产存证系统DAS（企业用户）</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">

            <a href="/frontLogin" style="color:white;"><i class="fa fa-sign-out fa-fw" ></i> 退出系统</a>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse" style="background-color: white;">
            <ul class="nav" id="side-menu">   <!--side-menu-->

                <li>
                    <a href="/home" style="color:#0088cc"><i class="glyphicon glyphicon-home"></i> 我的首页</span></a>
                </li>

                <li>
                    <a href="#" style="color:#0088cc"><i class="glyphicon glyphicon-th-list" ></i> 我的资产<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="/asset/video/index" style="color:#0088cc">视频资产列表</a>
                        </li>
                        <li>
                            <a href="/asset/audio/index" style="color:#0088cc">音频资产列表</a>
                        </li>
                        <li>
                            <a href="/asset/image/index" style="color:#0088cc">图片资产列表</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" style="color:#0088cc"><i class="fa fa-edit fa-fw" style="color:#0088cc"></i> 资产申请<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/asset/addVideo" style="color:#0088cc">视频资产</a>
                        </li>
                        <li>
                            <a href="/asset/addAudio" style="color:#0088cc">音频资产</a>
                        </li>
                        <li>
                            <a href="/asset/addImage" style="color:#0088cc">图片资产</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>