<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--普通用户导航栏-->
<nav th:fragment="navigation" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;background-image: url('/image/navTop.png');background-size: cover;" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home2" style="color:white;">可信数字资产存证系统DAS（普通用户）</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle bg-primary" style="background-color: #296e75;" data-toggle="dropdown" href="#">
                <i class="fa fa-cog" ></i> <i class="fa fa-caret-down" ></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/pass/index"><i class="fa fa-user fa-fw"></i> 更改密码</a>
                </li>
                <li class="divider"></li>
                <li><a href="/frontLogin"><i class="fa fa-sign-out fa-fw"></i> 退出系统</a>
                </li>
            </ul>
            <!--<a href="/frontLogin" style="color:white;"><i class="fa fa-sign-out fa-fw" ></i> 退出系统</a>-->
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse" style="background-color: white;">
            <ul class="nav" id="side-menu">   <!--side-menu-->
                <!--<li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search"/>
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </li>-->

                <li>
                    <a href="/home" style="color:#0088cc"><i class="glyphicon glyphicon-home"></i> 我的首页</span></a>
                </li>

                <li>
                    <a href="#" style="color:#0088cc"><i class="glyphicon glyphicon-th-list" ></i> 我的资产<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <!-- <li>
                             <a href="">学生证列表</a>
                         </li>-->
                        <li>
                            <a href="/asset/degreeCertification/index" style="color:#0088cc">学位证书列表</a>
                            <a href="/asset/drivingLicence/index" style="color:#0088cc">机动车驾驶证书列表</a>
                            <a href="/asset/syxxzl/index" style="color:#0088cc">专利列表</a>
                        </li>
                        <li>
                            <a href="/asset/video/index" style="color:#0088cc">视频资产列表</a>
                        </li>
                        <li>
                            <a href="/asset/audio/index" style="color:#0088cc">音频资产列表</a>
                        </li>
                        <li>
                            <a href="/asset/image/index" style="color:#0088cc">图片资产列表</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" style="color:#0088cc"><i class="fa fa-edit fa-fw" style="color:#0088cc"></i> 资产申请<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="#" style="color:#0088cc"> 文本资产<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <!--<li>
                                    <a href="/asset/getAsset">&nbsp;&nbsp;&nbsp;&nbsp;学生证</a>
                                </li>-->
                                <li>
                                    <a style="color:#0088cc" href="/asset/addDegreeCertification">&nbsp;&nbsp;&nbsp;&nbsp;学位证书</a>
                                    <a style="color:#0088cc" href="/asset/addDrivingLicence">&nbsp;&nbsp;&nbsp;&nbsp;机动车驾驶证书</a>
                                    <a style="color:#0088cc" href="/asset/addSyxxzl">&nbsp;&nbsp;&nbsp;&nbsp;专利</a>

                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/asset/addVideo" style="color:#0088cc">视频资产</a>
                        </li>
                        <li>
                            <a href="/asset/addAudio" style="color:#0088cc">音频资产</a>
                        </li>
                        <li>
                            <a href="/asset/addImage" style="color:#0088cc">图片资产</a>
                        </li>
                    </ul>
                </li>


                <li>
                    <a href="#" style="color:#0088cc"><i class="fa fa-file" style="color:#0088cc"></i> 资产鉴权<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a href="#" style="color:#0088cc"> 文本资产<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a style="color:#0088cc" href="/auth/certificateForm">&nbsp;&nbsp;&nbsp;&nbsp;学位证书</a>
                                    <a style="color:#0088cc" href="/auth/drivingLicenseForm">&nbsp;&nbsp;&nbsp;&nbsp;机动车驾驶证书</a>
                                    <a style="color:#0088cc" href="/auth/syxxzlForm">&nbsp;&nbsp;&nbsp;&nbsp;专利</a>

                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/auth/videoForm" style="color:#0088cc">视频资产</a>
                        </li>
                        <li>
                            <a href="/auth/audioForm" style="color:#0088cc">音频资产</a>
                        </li>
                        <li>
                            <a href="/auth/photoForm" style="color:#0088cc">图片资产</a>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>
    </div>
</nav>

</body>
</html>