<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-y: hidden">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>数字资产存证平台</title>

    <link rel="icon" type="image/x-icon" th:href="@{/image/favicon.png}"/>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!--引入jquery-->
    <script th:src="@{/jcstatic/vendor/jquery/jquery.js}"></script>

    <style type="text/css">
        .layui-upload-img {
            width: 100px;
            height: 110px;
            margin-left: 5px;
        }

        .col-title {
            font-weight: 700;
        }
    </style>

</head>


<body>

<div id="wrapper">
    <div id="page-wrapper" style="margin: 10px;">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <strong>密码修改</strong>
                    </div>
                    <div class="panel-body">
                        <form id="dataform">
                            <input type="hidden" name="userId" id="userId"/>
                            <input type="hidden" name="useType" id="useType"/>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">用户名</label>
                                <div class="col-sm-10">
                                    <input type="text" id="loginName" class="form-control" placeholder="" readonly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">原始密码</label>
                                <div class="col-sm-10">
                                    <input type="password" name="oldPass" class="form-control" placeholder="输入原始密码">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" name="newPass" class="form-control" placeholder="输入新密码">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">新密码</label>
                                <div class="col-sm-10">
                                    <input type="password" name="reNewPass" class="form-control" placeholder="再次输入新密码">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="form-group">
                                    <span style="color:red;" id="tipInfo"></span>
                                </div>
                            </div>
                        </form>
                        <!--确认按钮-->
                        <div class="col-lg-12 text-right">
                            <button type="button" id="btSubmit" class="btn btn-primary btn-info"
                                    style="width: 100px;">
                                确&nbsp;&nbsp;定
                            </button>
                            <button type="button" id="btBack" class="btn btn-primary btn-info"
                                    style="width: 100px;">
                                取&nbsp;&nbsp;消
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入layui:日期插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        init();
        initform();
    });

    function init() {
        var userId = [[${userId}]];    //用户id
        var useType = [[${useType}]]; //1:普通用户 2：企业用户
        var loginName = [[${loginName}]]; //1:普通用户 2：企业用户
        $("#userId").val(userId);
        $("#useType").val(useType);
        $("#loginName").val(loginName);
    }

    function initform() {
        $("#btSubmit").click(function () {
            var $this = $(this);
            $this.prop("disabled", true);
            if (validateForm()) {
                var queryString = $("#dataform").serialize();
                console.log("表单序列化的结果：" + queryString);
                $.ajax({
                    type: "post",
                    url: "/pass/update",
                    data: queryString,
                    dataType: "json",
                    success: function (result) {
                        if (result.code = 200) {
                            callbackMsg("密码修改成功");
                        } else {
                            callbackMsg("密码更改失败");
                        }
                    },
                    /* complete: function (XMLHttpRequest, textStatus) {
                         $this.prop("disabled", false);
                         window.location.reload(true);
                     }*/
                });
            } else {
                $this.prop("disabled", false);
            }

        });
    }

    function validateForm() {
        var newPass = $('input[name="newPass"]').val();
        var reNewPass = $('input[name="reNewPass"]').val();
        if (!newPass) {
            $("#tipInfo").text("新密码不能为空");
            return false;
        }
        if (!newPass == reNewPass) {
            $("#tipInfo").text("两次新密码不一致");
            return false;
        }
        return true;
    }

    function callbackMsg(data) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                title: '修改结果'
                , content: data
                , end: function () {
                    window.location.href = "/frontLogin";
                }
            });
        });
    }

    $("#btBack").click(function () {
        window.location.href = "/home";
    });

    $("form input").focus(function () {
        $("#tipInfo").html("");
    });


</script>

</body>

</html>
