<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.it611.das.mapper.CompanyMapper" >

    <insert id="addCompany" parameterType="org.it611.das.domain.Company">
        INSERT INTO tb_company(id, username, password, company_name, company_address, company_email, landine_phone, contact, phone, credit_id, company_type, representative,
        establishment_time, start_time, end_time, business_scope, registration_authority, registration_time, files, state, submit_time)
        VALUES (#{id}, #{username}, #{password}, #{companyName}, #{companyAddress}, #{companyEmail}, #{landinePhone}, #{contact}, #{phone}, #{creditId},
        #{companyType}, #{representative}, #{establishmentTime},#{startTime},#{endTime},#{businessScope},#{registrationAuthority},#{registrationTime},
        #{files},#{state},#{submitTime})
    </insert>

</mapper>